body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f7f6;
    color: #333333;
    box-sizing: border-box;
}

header {
    background-color: #007bff;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 6px;
}

header h1 {
    margin-left: 8px;
}